* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html,
body {

    height: 100%;
    width: 100%;
    background-color: #F7F7F7;

}
#nav {

    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-1 {

    /* background-color: red; */
    height: 82px;
    overflow: hidden;
}

#nav-1 svg {

    display: block;
}

#nav #nav-2 {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-2 #links a {

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 20px;
    text-transform: uppercase;
}

#links {

    padding: 10px;
}

#icons {

    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-2 #icons i {

    font-size: 18px;
    margin: 0  20px ;
    font-weight: 100;
}

#cursor {

    height: 180px;
    width: 180px;
    background-color: rgb(243, 226, 201);
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    /* transition: all ease 0.2; */
}


/* percentage take parent value  */

.page1 {

    min-height: 100vh;
    width: 100vw;
    position: relative;
    padding: 25vh 1vw;

}

/* min-height is not fixed its says minimum value if its exceeds there is no problem */


.page1 h1 {

    font-family: futura;
    font-size: 15.2vw;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -5;
}


.video {

    height: 100vh;
    background-color: antiquewhite;
    width: 100%;
    position: relative;

}


.video video {


    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: none;

}


.video .hover {

    padding: 1.8vw 1vw;
    color: #fff;
    font-size: 1.3vw;
    font-family: futura;
    background-color: #000;
    text-transform: uppercase;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    scale: 0;


}

/* page2 hover and page animation */

.page2 {

    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 1vw;


}


.page2 .elem {

    height: 100%;
    width: 31%;
    /* background-color: bisque; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page2 .elem img {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    scale: 1.1;


}

.page2 .elem .dets {
    border-radius: 60px;
    height: 60px;
    width: 70%;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blanchedalmond;

}


.page2 #elem1 .dets:hover {

    height: 200px;
    transition: all ease 0.6s;
}


.page2 #elem2 .dets:hover {

    height: 200px;
    transition: all ease 0.6s;
}


.page2 #elem3 .dets:hover {

    height: 200px;
     transition: all ease 0.6s;
}

/* page3 animations */

#page3 {

    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {

    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.child img {

    height: 100%;
}













































@media (max-width:600px) {

    #nav {

        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        padding: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    #nav-1 {
    
        /* background-color: red; */
        height: 67px;
        overflow: hidden;
    }
    
    #nav-1 svg {
    
        display: block;
        height: 67px;
        width: 80px;
    }
    
    #nav #nav-2 {
    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    
    #nav-2 #links a {
    
        text-decoration: none;
        color: #333;
        font-weight: 500;
        font-size: 14px;
        margin: 20px;
        text-transform: uppercase;
    }
    
    #links {
    
        padding: 10px;
        display: none;
    }
    
    #icons {
    
        padding: 10px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }
    
    #nav-2 #icons i {
    
        font-size: 18px;
        margin: 0  20px ;
        font-weight: 100;
    }
    

    .page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }

    .page1 h1 {

        font-size: 14vw;
        letter-spacing: -3px;
    }


    .video {

        height: 50vh;
        margin-top: 3vw;

    }

    .video .hover {

        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    .page2 {

        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 5vw 3vw;


    }


    .page2 .elem {

        height: 100vh;
        width: 100%;
        /* background-color: bisque; */
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 3vw;

    }

    .page2 .elem img {

        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        scale: 1.1;


    }

    #page3 {

        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .child {
    
        height: 54vh;
        width: 88vw;
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .child img {
    
        height: 100%;
    }
    


}